input {
    display: block;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-white);
    color: var(--color-black);
    border: 2px solid transparent;
    padding: .4em .6em;
    font-size: inherit;
    letter-spacing: inherit;
    line-height: 1em;
    border-radius: 0;
    border-bottom: 2px solid var(--color-black);
}