/*
 * Copyright 2020 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AD General Software
 * License v1 that can be found under https://atelierdisko.de/licenses
 *
 * This software is proprietary and confidential. Redistribution
 * not permitted. Unless required by applicable law or agreed to
 * in writing, software distributed on an "AS IS" BASIS, WITHOUT-
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 */

.content--reveal,
.content--revealed,
.content--removed,
.content--reveal form {
    display: contents;
}

.content--reveal .passphrase {
    background: var(--color-mid-grey);
    padding: 40px 30px;
    box-sizing: border-box;
    display: flex;
    grid-column: 2;
    grid-row: 1 / span 2;
}

.content--reveal .button {
    grid-column: 2;
    grid-row: 3;
}

.content--reveal .passphrase.passphrase--error {
    background: var(--color-red);
    color: var(--color-white);
}

.content--reveal .passphrase span {
    align-self: center;
    width: 100%;
}

.content--removed {
    color: var(--color-white);
}

.content--removed .h-beta {
    background: var(--color-red);
    grid-column: 2;
    grid-row: 1 / span 3;
    margin: 0;
    padding: calc(3 * var(--spacing-unit));
}

.content--fetching {
    color: var(--color-white);
    background: var(--color-mid-grey);
}

.content--revealed .textarea {
    grid-column: 2;
    grid-row: 1 / span 3;
}
