header {
  color: var(--color-white);
}

header > * {
  background-color: var(--color-purple);
  background: var(--color-purple);
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    var(--color-purple) 50%,
    var(--color-yellow) 50%
  );
  transition: background-position 300ms, color 1200ms;
}

header.header--revealed > *,
header.header--share > * {
  color: var(--color-black);
  background-position: -100% 0;
}

header div {
  display: flex;
  flex-direction: column;
  padding: var(--outer-padding);
}

header .t-beta {
  margin-top: auto;
}

header .h-alpha {
  padding: var(--outer-padding);
  font-weight: bolder;
}

header .h-alpha > * {
  text-decoration: none;
}
