/*
 * Copyright 2020 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AD General Software
 * License v1 that can be found under https://atelierdisko.de/licenses
 *
 * This software is proprietary and confidential. Redistribution
 * not permitted. Unless required by applicable law or agreed to
 * in writing, software distributed on an "AS IS" BASIS, WITHOUT-
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 */

header {
  background: var(--color-purple);
  color: var(--color-white);
  padding: calc(3 * var(--spacing-unit));
  display: grid;
}

header div {
  align-self: end;
  margin-top: calc(3 * var(--spacing-unit));
}

header .h-alpha {
  text-decoration: none;
  font-weight: bolder;
}
