/*
 * Copyright 2020 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AD General Software
 * License v1 that can be found under https://atelierdisko.de/licenses
 *
 * This software is proprietary and confidential. Redistribution
 * not permitted. Unless required by applicable law or agreed to
 * in writing, software distributed on an "AS IS" BASIS, WITHOUT-
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 */

footer {
  padding: calc(3 * var(--spacing-unit));
  background: var(--color-dark-grey);
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
  color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}
